@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 150px 100px 150px;
    gap: 20px;
}

.header-left {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.header-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links a {
    color: #e5e7eb;
    text-decoration: none;
    padding: 0px 0px 0px 20px;
}

.awesome {
    font-size: 42px;
    font-weight: bolder;
    margin: 50px 0 0 0;
}

.awesome-text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

button {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    flex-shrink: 0;
    width: 100px;
    height: 30px;
}

.topbutton {
    border-style: none;
}

.placeholder {
    width: 500px;
    height: 200px;
    background-color: gray;
    margin: 50px 0 0 0;
}

/* information */

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 150px 100px 150px;
    gap: 30px;
}
.box {
    background-color: white;
    border: #3882f6 solid;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.cards {
    display: flex;
    gap: 50px;
    
}

.card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100px;
    text-align: center;
    gap: 5px;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    padding: 30px 150px 100px 150px;
}

.quotetext {
    font-size: 26px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.author {
    font-weight: 700;
    text-align: right;
}

/* signup */

.signup {
    display: flex;
    background-color: #3882f6;
    margin: 60px 250px 60px 250px;
    padding: 40px 80px 40px 80px;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

.signuptext {
    display: flex;
    flex-direction: column;
    color: white;
}

.actiontwo {
    color: #f9faf8;
    font-size: 18px;

}

.action {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    border-color: #f9faf8;
    border-style: solid;
}

/* footer */